<style>
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  } */


  
</style>

<!-- Toolbar -->
<div> 
<div class="toolbar" role="banner">
  <img src="assets/svg/logo-endless.svg" class="svg-endless">
   </div>
<div> 
  <div class="parallax"></div>
  <!-- <img class="photo-couch" src="assets/img/photo-couch.jpg"> -->
  <!-- <ngx-picture
  src="assets/img/photo-couch.jpg"
  alt="couch"
 ></ngx-picture> -->
      <div class="bottom-left">
        <p>New Games & Accessories</p>
      <br>
        <p> Monthly packages. </p>
        <p> Excitement delivered daily. </p>
      <br>
        <p style="width: 300px;">What's the best way to shop for the latest video Games
        and peripherals? How about never shopping at all?
        You'll get new stuff on your doorstep - every month. </p>
        <br>
        <button class="btn-get-started" type="button">GET STARTED</button>
    </div>
</div>

<div class="how-it-works"> 
   <span> How it Works </span>
</div>

<div class="grid-row">
 <div> </div>

    <div class="grid-container">
        <div *ngFor="let step of steps" class="grid-item"> 
        {{0}}{{step.stepNumber}}
        <hr class="solid" style="width: 20px;">
                <div *ngFor="let version of step.versionContent"> 
              <b>{{version.title}}</b>   
              <div class="grid-body"><p>{{version.body}}</p></div>  
                </div>
          </div>
    </div>  

    <div> </div> 
  </div>
  </div>
<router-outlet></router-outlet>